.slick-prev,
.slick-next {
    align-items: center;
    display: flex;
    position: absolute;
    justify-content: center;
    top: 50%;
    background-color: transparent;
    size: 20px;
    cursor: pointer;
}

.slick-prev {
    padding: 14px;
    left: 4%;
    z-index: 1;
}

.slick-next {
    right: 4%;
    font-size: 25px;
    padding: 14px;
}

.slick-prev::before,
.slick-next::before {
    color: #ffffff;
}

.slick-arrow:hover {
    transition: 0.6s;
}

.slide.slick-slide {
    height: auto;
}

.slick-dots {
    position: absolute;
    bottom: 4%;
}

.slick-dots li button::before {
    color: #FFDE79;
    transition: 0.3s;
}

.slick-dots li.slick-active button:before {
    color: #FFDE79;
}