.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}

.header img {
    width: 20%;
}

.topics_header {
    display: flex;
}

.topics_header a {
    margin-left: 20px;
    text-decoration: none;
    color: #000000;
}

.topics_header a:hover {
    color: #004add;
}

.separation-line-header {
    display: flex;
    border-color: #004add2c;
    width: 100%
}

.slider-header {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 auto;
    max-width: 1404px;
    max-height: 270px;
    position: relative;
    overflow: hidden;
}

.slider-header img {
    width: 1404px;
    height: 270px;
}

.input-slider-header {
    display: flex;
    align-items: flex-end;
    position: absolute;
    top: 100%;
    margin-top: -22px;
    margin-left: 45%;
}

.return,
.next {
    cursor: pointer;
    top: 50%;
    margin-top: -22px;
    font-size: 25px;
    color: red;
    padding: 16px;
    position: absolute;
}

.return {}

.next {
    margin-left: 96%;
}